
<div id="header">
  <div class="container_search">
  <h1>Louez un vehicule avec votre Smartphone</h1>
    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <div class="form-inline text-center" style="padding-top: 10%;">
    <%= form_tag cars_search_path(:city => @city_p) do %>
      <div class="form-group mx-sm-3 mb-3">
        <%= select_tag "city", options_for_select(@counted.map { |mg| [mg[0] + " (" +mg[1] + " vehicules)" ,  mg[0]] }), {:class=>'form-control', :prompt => 'Ville de depart'}  %>
      </div>
      <div class="form-group mx-sm-3 mb-3" style="margin-top: 15px;">
        <%= text_field_tag  'starts_on','Début de la location', { class: "daterange" }%>
      </div>
      <div class="form-group mx-sm-3 mb-3" style="margin-top: 15px;">
        <%= text_field_tag 'ends_on','Fin de location', id: "to" %>
      </div>
      <div class="form-group mx-sm-3 mb-3">
        <%= select_tag "distance", options_for_select([['Distance', ''], ['100 km', 100], ['200 km', 200], ['300 km', 300], ['400 km', 400],['500 km', 500], ['600 km', 700], ['300 km', 800], ['400 km', 900],['1000 km', 1000], ['1100 km', 1100], ['1200 km', 1200], ['1300 km', 1300],['1400 km', 1400], ['1500 km', 1500], ['2000 km', 2000], ['3000 km', 3000]], disabled: '', selected: '', :class=>'form-control', :prompt => 'Distance'), {:class=>'form-control', :prompt => '___________'} %>
      </div>
      <%= submit_tag 'Rechercher' %>
      <% end %>
    </div>
  </div>
</div>

<h1 style="color: black">Nos Vehicules</h1>
<br>
<div class="container">
  <% @cars.each do |car| %>
  <div class="column">
    <div class="col-xs-12 col-sm-4">
    <div class="card"  style="background-image:url(<%= car.cars.first.url%>);">
      <div class="card-description">
        <h2><span style="font-size: 50px;"><%= car.price_cents %></span>€/Jrs</h2>
        <h2><%=  link_to car.name, car %></h2>
        <p style="color: white;"><%= car.year %>, Moteur <%= car.engine %>, <%= car.places %> Places, <%= car.gearbox %></p>
      </div>
      <%= link_to 'Show', car, class: 'card-link' %>
    </div>
    <br>
    </div>
  </div>
  <% end %>
</div>
